In [30]:
import pandas as pd
from pandasql import sqldf

In [31]:
users_df=pd.read_csv("../data/users_clean_vApplication.csv")
a = 408

In [32]:
score_activities=f"select activitat, grade from users_df where userid={a}"
print(sqldf(score_activities))

                                             activitat  grade
0                        Problema 1.1 - Hello world!!!    100
1                     Problema 1.2 - Hello world!!! ++    100
2                           Problema 3a.1: Càlcul edat    100
3              Problema 3a.8: Conversió dòlars a euros    100
4                     Problema 3a.11: Mitjana de notes    100
..                                                 ...    ...
115                       Problema 5d.7: Tipus Poligon    100
116             Problema 5d.8: Classificació de futbol    100
117  Entrega Practica 2: Rock, Paper, Scissors, Liz...    100
118                 Entrega Practica 3 - 4: MasterMind    100
119                      Entrega Pràctica 5: BlackJack    100

[120 rows x 2 columns]

In [33]:
neval_activities=f"select activitat, nevaluations from users_df where userid={a}"
print(sqldf(neval_activities))

                                             activitat  nevaluations
0                        Problema 1.1 - Hello world!!!             1
1                     Problema 1.2 - Hello world!!! ++             3
2                           Problema 3a.1: Càlcul edat             4
3              Problema 3a.8: Conversió dòlars a euros             4
4                     Problema 3a.11: Mitjana de notes             6
..                                                 ...           ...
115                       Problema 5d.7: Tipus Poligon             7
116             Problema 5d.8: Classificació de futbol             3
117  Entrega Practica 2: Rock, Paper, Scissors, Liz...             0
118                 Entrega Practica 3 - 4: MasterMind             1
119                      Entrega Pràctica 5: BlackJack             2

[120 rows x 2 columns]

In [34]:
# Create DataFrame
users_df

# Step 1: Extract the number after "Problema" (e.g., 1.1)
users_df['problema_number'] = users_df['activitat'].str.extract(r'Problema\s+(\d+)')

# Step 3: Group by `userid`, `aula_id`, and `problema_number`, then calculate the mean of `F_Grade`
result = users_df.groupby(['userid', 'problema_number'], as_index=False)['grade'].mean()


print(sqldf(f"select userid, problema_number, avg(grade) as avg_grade from users_df where userid={a} group by problema_number order by problema_number"))

   userid problema_number  avg_grade
0     408            None      100.0
1     408               1      100.0
2     408               3      100.0
3     408               4      100.0
4     408               5      100.0

In [35]:
users_df['problema_number'].isnull().sum()

10600